@media screen and (max-width: 479px){/*スマホ*/
  body{
    background-color: #fff9f2;
  }
  /*.title {
    color: #02ccba;
  }*/
  .header-logo img{
    width: 100%;
  }
  .outline{
    float: none;
    font-size: 15px;
    margin-top: auto;
  }
  .header-list{
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  .header-list img {
    width: 33%;
    float: left;
    padding: 0;
    margin: 0;
  }
  #header {
    float: center;
  }
 /* .header-list li img{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }*/
  .contents li{
    list-style: none;
  }
  #main{
    clear: both;
    font-size: 20px;
  }
  h1{
    font-size: 30px;
    margin: auto;
    /*border-bottom: solid medium #af7aff;*/
    color: #af7aff; /*薄い紫*/
  }
  h2{
    font-size: 25px;
    margin: auto;
    /*border-bottom: solid medium #ffaec8;*/ /*ピンク*/
    color: #ffaec8; 
  }
  h3{
    font-size: 20px;
    margin: auto;
    border-bottom: solid medium #af7aff;
    color: #000000;
  }
  .lists{
    font-size: 30px;
    margin: auto;
    color: #ffaec8;
  }
 .iframe-wrap{
   position: relative;
   width: 100%;
   padding-top: 90%;
   overflow: visible;
  }
  .iframe-wrap iframe{
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    display: block;
  }
  .footer-logo{
    font-size: 20px;
    font-family: "Yu Mincho";
    padding: 0px;
    margin: 0px;
  }
  #footer {
    float: center;
  }
  .footer-list{
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .footer-list img{
    float: left;
    width: 33%;
    padding: 0;
    margin: 0;
  }
  
  a{
    color: #af7aff;
  }
   /* .contact-submit{
      background-color: #ff0000;
      color: #ffffff;
      padding: 10px 20px;
      border-style: none;      
    }*/
  .contact-form .iframe-wrap{
    position: relative;
    width: 100%;
    padding-top: 1100px;
  }
  .contact-form .iframe-wrap iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .copyright{
    clear: both;
    font-size: 15px;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 766px){/*タブレット*/
  body {
    background-color: #fff9f2;
  }
  .title {
    color: #02ccba;
  }
  .header-logo img{
   width: 100%;
   }
  .outline{
    float: none;
    font-size: 20px;
    margin-top: auto;
  }
  .header-list{
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  .header-list img{
    width: 16.5%;
    float: left;
    padding: 0;
    margin: 0;
  }
  #header ul{
    float: center;
  }
  /*.header-list li{
    list-style: none;
    float: left;
    padding: 0;
  }*/
  .contents li{
    list-style: none;
  }
  #main{
    clear: both;
    font-size: 20px;
  }
  h1{
    font-size: 30px;
    margin: auto;
    /*border-bottom: solid medium #af7aff;*/
    color: #af7aff; /*薄い紫*/
  }
  h2{
    font-size: 25px;
    margin: auto;
    /*border-bottom: solid medium #ffaec8;*/ /*ピンク*/
    color: #ffaec8; 
  }
  h3{
    font-size: 20px;
    margin: auto;
    border-bottom: solid medium #af7aff;
    color: #000000;
  }
  .lists{
    font-size: 30px;
    margin: auto;
    color: #ffaec8;
  }
   .iframe-wrap{
   position: relative;
   width: 100%;
   padding-top: 90%;
   overflow: visible;
  }
  .iframe-wrap iframe{
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    display: block;
  }
  .footer-logo{
    font-size: 20px;
    font-family: "Yu Mincho";
    padding: 0px;
    margin: 0px;
  }
  #footer {
    float: center;
  }
  .footer-list img{
    float: left;
    width: 16.5%;
    margin: 0;
    padding: 0;
  }
  .footer-list{
    height: 100%;
    width: 100%;
    padding: 0;
  }
  a{
    color: #af7aff;
  }
  /*.contact-form input, textarea{
    width: 450px;
    height: 40px;
  }
      .contact-submit{
      background-color: #ff0000;
      color: #ffffff;
      padding: 10px 20px;
      border-style: none;        
    }*/
    .contact-form .iframe-wrap{
    position: relative;
    width: 100%;
    padding-top: 1100px;
  }
  .contact-form .iframe-wrap iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .copyright{
    font-size: 15px;
    text-align: center;
    clear: both;
  }
}
  @media screen and (min-width: 767px) {/*パソコン*/
    body{
      background-color: #fff9f2;
    }
.title {
  color: #02ccba;
}
.header-logo img{
  width: 100%;
}
.logo{
  max-width: 1000px;
  width: 100%;
  height: 100%;
}
.outline{
  float: none;
  font-size: 30px;
  margin-top: auto;
}
#header{
  width: 100%;
  height: 100%;
}
.header-list{
  width: 100%;
  height: 100%;
  margin: 0px;
}
    .header-list img {
      width: 16.5%;
      float: left;
      padding: 0;
      margin: 0;
    }
  #header ul{
    float: center;
  }
/*.header-list li{
  list-style: none;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: auto;
}*/
.contents li{
  list-style: none;
}
#main{
  /*float: none;*/
  font-size: 20px;
  clear: both;
}
.date{
  float: right;
}
h1{
  font-size: 40px;
  margin: auto;
  /*border-bottom: solid medium #af7aff;*/
  color: #af7aff; /*薄い紫*/
}
h2{
  font-size: 30px;
  margin: auto;
  /*border-bottom: solid medium #ffaec8;*/ /*ピンク*/
  color: #ffaec8;
}
h3{
  font-size: 30px;
  margin: auto;
  border-bottom: solid medium #af7aff;
  color: #000000;
}
    .lists{
      font-size: 40px;
      margin: auto;
      color: #ffaec8;
    }    
     .iframe-wrap{
   position: relative;
   width: 100%;
   padding-top: 60%;
   overflow: visible;
  }
  .iframe-wrap iframe{
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    display: block;
  }
#footer{
  float: center;
}
.footer-logo{
  font-size: 30px;
  font-family: "Yu Mincho";
  padding: 0px;
  margin: 0px;
}
.footer{
  width: 100%;
  height: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin: 0px;
  border-top: solid;
}
  #footer {
    float: center;
  }
.footer-list img{
  float: left;
  width: 16.5%;
  margin: 0;
  padding: 0;
}
    .footer-list{
      width: 100%;
      height: 100%;
      padding: 0;
    }
a{
  color: #af7aff;
}
  /*  .contact-form input, textarea{
      width: 500px;
      height: 40px;
    }
    .contact-submit{
      background-color: #ff0000;
      color: #ffffff;
      padding: 10px 20px;
      border-style: none;
    }*/
      .contact-form .iframe-wrap{
    position: relative;
    width: 100%;
    padding-top: 1100px;
  }
  .contact-form .iframe-wrap iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .copyright{
    font-size: 20px;
    text-align: center;
    clear: both;
  }
}
