@media screen and (max-width: 479px){/*スマホ*/
  /*.title {
    color: #02ccba;
  }*/
  .header-logo a img{
    margin-left: auto;
    margin-right: auto;
  }
  .outline{
    float: none;
    font-size: 15px;
    margin-top: auto;
  }
  .header-list{
    width: 100%;
    height: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: 0px;
    border-bottom: solid;
  }
  #header.ul{
    float: center;
  }
  .header-list li{
    list-style: none;
    float: left;
    font-size: 12px;
    font-family: "Yu Mincho";  /*游明朝*/
    max-width: 1000px;
    width: 19%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: auto;
  }
  .contents li{
    list-style: none;
  }
  #main{
    float: none;
    font-size: 20px;
  }
  h1{
    font-size: 40px;
    margin: auto;
    /*border-bottom: solid medium #ff0000;*/
    color: #ff0000;
  }
  h2{
    font-size: 30px;
    margin: auto;
    /*border-bottom: solid medium #ff0000;*/
    color: #ff0000;
  }
  h3{
    font-size: 20px;
    margin: auto;
    /*border-bottom: solid medium #ff0000;*/
    color: #ff0000;
  }
  .lists{
    font-size: 40px;
    margin: auto;
  }
 .iframe-wrap{
   position: relative;
   width: 100%;
   padding-top: 90%;
   overflow: visible;
  }
  .iframe-wrap iframe{
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  .footer-logo{
    font-size: 20px;
    font-family: "Yu Mincho";
    padding: 0px;
    margin: 0px;
  }
  #footer.ul{
    float: center;
  }
  .footer-list li{
    list-style: none;
    float: left;
    font-size: 10px;
    font-family: "Yu Mincho";
    max-width: 1000px;
    width: 19%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: auto;
  }
  a{
    color: black;
    text-decoration: none;
  }
   /* .contact-submit{
      background-color: #ff0000;
      color: #ffffff;
      padding: 10px 20px;
      border-style: none;      
    }*/
  .contact-form .iframe-wrap{
    position: relative;
    width: 100%;
    padding-top: 1100px;
  }
  .contact-form .iframe-wrap iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .copyright{
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 766px){/*タブレット*/
  .title {
    color: #02ccba;
  }
  .header-logo a img{
    margin-left: auto;
    margin-right: auto;
  }
  .outline{
    float: none;
    font-size: 20px;
    margin-top: auto;
  }
  .header-list{
    width: 100%;
    height: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: 0px;
    border-bottom: solid;
  }
  #header.ul{
    float: center;
  }
  .header-list li{
    list-style: none;
    float: left;
    font-size: 13px;
    font-family: "Yu Mincho";  /*游明朝*/
    max-width: 1000px;
    width: 19%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: auto;
  }
  .contents li{
    list-style: none;
  }
  #main{
    float: none;
    font-size: 20px;
  }
  h1{
    font-size: 40px;
    margin: auto;
    /*border-bottom: solid medium #ff0000;*/
    color: #ff0000;
  }
  h2{
    font-size: 30px;
    margin: auto;
    /*border-bottom: solid medium #ff0000;*/
    color: #ff0000;
  }
  h3{
    font-size: 20px;
    margin: auto;
    /*border-bottom: solid medium #ff0000;*/
    color: #ff0000;
  }
  .lists{
    font-size: 40px;
    margin: auto;
  }
   .iframe-wrap{
   position: relative;
   width: 100%;
   padding-top: 90%;
   overflow: visible;
  }
  .iframe-wrap iframe{
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  .footer-logo{
    font-size: 20px;
    font-family: "Yu Mincho";
    padding: 0px;
    margin: 0px;
  }
  #footer.ul{
    float: center;
  }
  .footer-list li{
    list-style: none;
    float: left;
    font-size: 10px;
    font-family: "Yu Mincho";
    max-width: 1000px;
    width: 19%;
    margin: 0% 2.5%;
    padding: 0%;
  }
  a{
    color: black;
    text-decolation: none;
  }
  /*.contact-form input, textarea{
    width: 450px;
    height: 40px;
  }
      .contact-submit{
      background-color: #ff0000;
      color: #ffffff;
      padding: 10px 20px;
      border-style: none;        
    }*/
    .contact-form .iframe-wrap{
    position: relative;
    width: 100%;
    padding-top: 1100px;
  }
  .contact-form .iframe-wrap iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .copyright{
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
  @media screen and (min-width: 767px) {/*パソコン*/
.title {
  color: #02ccba;
}
.header-logo img{
  margin-left: auto;
  margin-right: auto;
}
.logo{
  max-width: 1000px;
  width: 100%;
  height: 100%;
}
.outline{
  float: none;
  font-size: 30px;
  margin-top: auto;
}
#header{
  width: 100%;
  height: 100%;
}
.header-list{
  width: 100%;
  height: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin: 0px;
  border-bottom: solid;
}
  #header.ul{
    float: center;
  }
.header-list li{
  list-style: none;
  float: left;
  font-size: 25px;
  font-family: "Yu Mincho";  /*游明朝*/
  max-width: 1000px;
  width: 19%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: auto;
}
.contents li{
  list-style: none;
}
#main{
  float: none;
  font-size: 30px;
}
.date{
  float: right;
}
h1{
  font-size: 40px;
  margin: auto;
  /*border-bottom: solid medium #ff0000;*/
  color: #ff0000;
}
h2{
  font-size: 30px;
  margin: auto;
  /*border-bottom: solid medium #ff0000;*/
  color: #ff0000;
}
h3{
  font-size: 30px;
  margin: auto;
  /*border-bottom: solid medium #ff0000;*/
  color: #ff0000;
}
    .lists{
      /*float: left;*/
      font-size: 40px;
      margin: auto;
    }
     .iframe-wrap{
   position: relative;
   width: 100%;
   padding-top: 60%;
   overflow: visible;
  }
  .iframe-wrap iframe{
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
#footer{
  float: none;
  width: 100%;
  height: 100%;
}
.footer-logo{
  font-size: 30px;
  font-family: "Yu Mincho";
  padding: 0px;
  margin: 0px;
}
.footer{
  width: 100%;
  height: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin: 0px;
  border-top: solid;
}
  #footer.ul{
    float: center;
  }
.footer-list li{
  list-style: none;
  float: left;
  font-size: 20px;
  font-family: "Yu Mincho";
  max-width: 1000px;
  width: 19%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: auto;
}
a{
  color: black;
  text-decolation: none;
}
  /*  .contact-form input, textarea{
      width: 500px;
      height: 40px;
    }
    .contact-submit{
      background-color: #ff0000;
      color: #ffffff;
      padding: 10px 20px;
      border-style: none;
    }*/
      .contact-form .iframe-wrap{
    position: relative;
    width: 100%;
    padding-top: 1100px;
  }
  .contact-form .iframe-wrap iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .copyright{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
